
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-subtitle style="color:black">Create Restaurant</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content  class="example-container">
        <form class="example-form" [formGroup]="angForm">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Restaurant Name" formControlName="RestaurantName">
            <mat-error *ngIf="angForm.controls['RestaurantName'].invalid && (angForm.controls['RestaurantName'].dirty || angForm.controls['RestaurantName'].touched) " class="alert alert-danger">Restaurant Name is required</mat-error>
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Restaurant Description" formControlName="RestaurantDescription"></textarea>
          </mat-form-field>
          <mat-card-subtitle style="color:black"><strong>Data</strong></mat-card-subtitle>
          <!-- <mat-form-field class="full-width col-4">
            <mat-select formControlName="country" placeholder="Country">
              <mat-option *ngFor="let country of countries" [value]="country">
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field class="example-full-width">
            <input type="tel" matInput placeholder="Restaurant phone" formControlName="RestaurantPhone" required>
            <mat-hint align="start"><strong>Mobile:</strong> {{ angForm.value.country_phone.country.sampleMobilePhone }}</mat-hint>
            <mat-hint align="end"><strong>Fixed:</strong> {{ angForm.value.country_phone.country.sampleFixedPhone }}</mat-hint>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="angForm.controls['RestaurantPhone'].invalid && (angForm.controls['RestaurantPhone'].dirty || angForm.controls['RestaurantPhone'].touched)">Restaurant phone is required</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Restaurant  email" formControlName="RestaurantMail" required>
              <mat-error *ngFor="let validation of restaurant_validation_messages.email">
                <mat-error class="error-message" *ngIf="angForm.get('RestaurantMail').hasError(validation.type) && (angForm.get('RestaurantMail').dirty || angForm.get('RestaurantMail').touched)">{{validation.message}}</mat-error>
              </mat-error>
              <!-- <mat-error *ngIf="angForm.controls['RestaurantMail'].invalid && (angForm.controls['RestaurantMail'].dirty || angForm.controls['RestaurantMail'].touched)">Please enter a valid email address</mat-error>
              <mat-error *ngIf="angForm.controls['RestaurantMail'].required"> -->
                  <!-- Email is <strong>required</strong>
              </mat-error> -->
          </mat-form-field>
          <mat-card-subtitle style="color:black"><strong>Chef</strong></mat-card-subtitle>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Restaurant Chef" formControlName="RestaurantChef" required>
              <mat-error *ngIf="angForm.controls['RestaurantChef'].invalid && (angForm.controls['RestaurantChef'].dirty || angForm.controls['RestaurantChef'].touched) " class="alert alert-danger">Restaurant Chef Name is required</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input type="tel" matInput placeholder="Restaurant Chef Phone" formControlName="RestaurantChefPhone" required>
              <mat-hint align="start"><strong>Mobile:</strong> {{ angForm.value.country_phone.country.sampleMobilePhone }}</mat-hint>
              <mat-hint align="end"><strong>Fixed:</strong> {{ angForm.value.country_phone.country.sampleFixedPhone }}</mat-hint>
              <mat-icon matSuffix>mode_edit</mat-icon>
              <mat-error *ngIf="angForm.controls['RestaurantChefPhone'].invalid && (angForm.controls['RestaurantChefPhone'].dirty || angForm.controls['RestaurantChefPhone'].touched)">Restaurant chef phone is required</mat-error>
            </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Restaurant Chef Mail" formControlName="RestaurantChefMail" required>
              <mat-error *ngIf="angForm.controls['RestaurantChefMail'].invalid && (angForm.controls['RestaurantChefMail'].dirty || angForm.controls['RestaurantChefMail'].touched)">Please enter a valid email address</mat-error>
              <mat-error *ngIf="angForm.controls['RestaurantChefMail'].required">
                  Email is <strong>required</strong>
              </mat-error>
          </mat-form-field>
          <span>Restaurant Rating: <star-rating-control [starType]="'svg'" formControlName="RestaurantRating"></star-rating-control></span>
              <!-- <star-rating [starType]="'svg'" [rating]="currentRate"></star-rating> -->
              <!-- <pre>{{ angForm.value.RestaurantRating | json }}</pre> -->
          <mat-card-subtitle style="color:black"><strong>Restaurant Location</strong></mat-card-subtitle>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Restaurant Address" formControlName="RestaurantAddress" [(ngModel)]="address" readonly>
            <mat-error *ngIf="angForm.controls['RestaurantAddress'].invalid && (angForm.controls['RestaurantAddress'].dirty || angForm.controls['RestaurantAddress'].touched) " class="alert alert-danger">Restaurant Latitud is required</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Restaurant Latitude" formControlName="RestaurantLat" [(ngModel)]="lat" readonly>
            <mat-error *ngIf="angForm.controls['RestaurantLat'].invalid && (angForm.controls['RestaurantLat'].dirty || angForm.controls['RestaurantLat'].touched) " class="alert alert-danger">Restaurant Latitud is required</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Restaurant Longitude" formControlName="RestaurantLng" [(ngModel)]="lng" readonly>
            <mat-error *ngIf="angForm.controls['RestaurantLng'].invalid && (angForm.controls['RestaurantLng'].dirty || angForm.controls['RestaurantLng'].touched) " class="alert alert-danger">Restaurant Longitude is required</mat-error>
          </mat-form-field>
          <agm-map style="height: 300px;"
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            (mapClick)="addMarker($event.coords.lat, $event.coords.lng)"
            >
            <agm-marker
              *ngFor="let marker of markers"
              [latitude]="marker.lat"
              [longitude]="marker.lng"
              [opacity]="marker.alpha"
              [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)"
            ></agm-marker>
            <h5>Address: {{address}}</h5>
          </agm-map>
        </form>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="angForm.pristine || angForm.invalid" (click)=addRestaurant(angForm)>Create</button>
        <!-- <button mat-raised-button>SHARE</button> -->
      </mat-card-actions>
</mat-card>
