<div class="card">
    <div class="card-body">
      <form class="container" [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Restaurant Name</label>
          <input type="text" class="form-control" 
            formControlName="RestaurantName" 
            #RestaurantName />
        </div>
        <div *ngIf="angForm.controls['RestaurantName'].invalid && (angForm.controls['RestaurantName'].dirty || angForm.controls['RestaurantName'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['RestaurantName'].errors.required">
            Restaurant Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Restaurant Description </label>
          <textarea class="form-control" rows = 7 cols = "5"
          formControlName="RestaurantDescription" 
          #RestaurantDescription></textarea>
        </div>
        <div *ngIf="angForm.controls['RestaurantDescription'].invalid && (angForm.controls['RestaurantDescription'].dirty || angForm.controls['RestaurantDescription'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['RestaurantDescription'].errors.required">
            Restaurant Description is required.
          </div>
        </div>
        <h3>Contact Data</h3>
        <div class="form-group">
          <label class="col-md-4">Phone</label>
          <input type="number" class="form-control" 
            formControlName="RestaurantPhone" 
            #RestaurantPhone
          />
        </div>
        <div *ngIf="angForm.controls['RestaurantPhone'].invalid && (angForm.controls['RestaurantPhone'].dirty || angForm.controls['RestaurantPhone'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['RestaurantPhone'].errors.required">
            Restaurant Phone is required.
          </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">Mail</label>
            <input type="email" class="form-control" 
              formControlName="RestaurantMail" 
              #RestaurantMail
            />
        </div>
        <div *ngIf="angForm.controls['RestaurantMail'].invalid && (angForm.controls['RestaurantMail'].dirty || angForm.controls['RestaurantMail'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['RestaurantMail'].errors.required">
              Restaurant Mail is required.
            </div>
        </div>
        <h3>Chef</h3>
        <div class="form-group">
            <label class="col-md-4"> Name</label>
            <input type="text" class="form-control" 
            formControlName="RestaurantChef" 
              #RestaurantChef />
        </div>
        <div *ngIf="angForm.controls['RestaurantChef'].invalid && (angForm.controls['RestaurantChef'].dirty || angForm.controls['RestaurantChef'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['RestaurantChef'].errors.required">
              Restaurant Chef is required.
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4"> Phone</label>
            <input type="number" class="form-control" 
            formControlName="RestaurantChefPhone" 
              #RestaurantChefPhone />
        </div>
        <div *ngIf="angForm.controls['RestaurantChefPhone'].invalid && (angForm.controls['RestaurantChefPhone'].dirty || angForm.controls['RestaurantChefPhone'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['RestaurantChefPhone'].errors.required">
              Restaurant Chef phone is required.
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4"> Mail</label>
            <input type="email" class="form-control" 
            formControlName="RestaurantChefMail" 
              #RestaurantChefMail />
        </div>
        <div *ngIf="angForm.controls['RestaurantChefMail'].invalid && (angForm.controls['RestaurantChefMail'].dirty || angForm.controls['RestaurantChefMail'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['RestaurantChefMail'].errors.required">
              Restaurant Chef mail is required.
            </div>
        </div>
        <ngb-rating [(rate)]="currentRate"></ngb-rating>
        <hr>
        <pre>Rate: <b>{{currentRate}}</b></pre>
        <div class="form-group">
          <label class="col-md-4">Longitude</label>
          <input type="number" class="form-control" 
            formControlName="RestaurantLongitude" 
            #RestaurantLongitude
          />
        </div>
        <div *ngIf="angForm.controls['RestaurantLongitude'].invalid && (angForm.controls['RestaurantLongitude'].dirty || angForm.controls['RestaurantLongitude'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['RestaurantLongitude'].errors.required">
            Restaurant Longitude is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Latitude</label>
          <input type="number" class="form-control" 
            formControlName="RestaurantLatitude" 
            #RestaurantLatitude
          />
        </div>
        <div *ngIf="angForm.controls['RestaurantLatitude'].invalid && (angForm.controls['RestaurantLatitude'].dirty || angForm.controls['RestaurantLatitude'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['RestaurantLatitude'].errors.required">
            Restaurant Latitude is required.
          </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">Restaurant Images</label>
            <input type="file" name="image" (change)="fileProgress($event)" formControlName="RestaurantImage" #RestaurantImage/>
            <div class="form-group">
                      <button class="btn btn-primary" (click)="onSubmit()">Upload file</button>
            </div>
        </div>
        <div *ngIf="angForm.controls['RestaurantImage'].invalid && (angForm.controls['RestaurantImage'].dirty || angForm.controls['RestaurantImage'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['RestaurantImage'].errors.required">
              Restaurant Image is required.
            </div>
        </div>
        
        <div class="form-group">
            <button (click) = "addRestaurant(RestaurantName.value, RestaurantDescription.value, RestaurantPhone.value, RestaurantMail.value,RestaurantChef.value, RestaurantChefPhone.value,RestaurantChefMail.value, currentRate, RestaurantImage, RestaurantLatitude.value,RestaurantLongitude.value)" type="submit" class="btn btn-primary">
                Create Restaurant
            </button>
            <!-- [disabled]="angForm.pristine || angForm.invalid" > -->
        </div>
      </form>
    </div>
  </div>

