<!-- <button routerLink="/authentication/login">Login</button>
<button routerLink="/restaurant/create">Create Restaurant</button>
<button routerLink="/restaurant">Restaurants</button>
<button routerLink="">Home</button>
<button class="nav-item nav-link" (click)="logout()">Logout</button>

<router-outlet></router-outlet> -->
<mat-toolbar color="primary" *ngIf="currentUser">
    <mat-toolbar-row>
        <span>Restaurant</span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
        <button mat-button routerLink="restaurant/create" class="nav-link" routerLinkActive="active">Create Restaurant</button>
        <button mat-button routerLink="restaurant" class="nav-link" routerLinkActive="active">Restaurants</button>
        <button mat-button (click)="logout()">Logout</button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="restaurant/maps">
            <mat-icon>maps</mat-icon>
            <span>View on map</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<!-- <nav class="navbar navbar-expand-sm bg-light" *ngIf="currentUser">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="restaurant/create" class="nav-link" routerLinkActive="active">
            Create Restaurant
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="restaurant" class="nav-link" routerLinkActive="active">
            Restaurants
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="restaurants/maps" class="nav-link" routerLinkActive="active">
            Restaurants Maps
          </a>
        </li>
        <button class="nav-item nav-link" (click)="logout()">Logout</button>
      </ul>
    </div>
  </nav> -->
  
  <!-- <div class="container">
    <router-outlet></router-outlet>
  </div> -->
  <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
  </div>